@model LoginRegisterModel
@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Layouts/_Default.cshtml";
}

<div class="row">
    <div class="iosslider">
        <ul class="slider">
            <li class="slide">
                <section class="form-section">
                    <div class="row">
                        <h2 class="columns">Forgot your username or password?</h2>
                        <span class="validation-summary"></span>
                    </div>
                    <div class="row">
                        <div class="columns large-4 medium-6 small-10">
                            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { id = "forgot-form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.LabelFor(m => m.ResetPasswordEmail)
                                @Html.TextBoxFor(m => m.ResetPasswordEmail)
                                @Html.ValidationMessageFor(m => m.ResetPasswordEmail)
                                <div class="submit-wrap">
                                    <input type="submit" value="Continue" class="button" />
                                </div>
                            }
                        </div>
                    </div>
                </section>
            </li>
            <li class="slide active">
                <section class="form-section">
                    <div class="row">
                        <h2 class="columns">Sign In to @ViewBag.SiteName</h2>
                        <span class="validation-summary"></span>
                    </div>
                    <div class="row">
                        <div class="large-5 medium-5 small-11 columns">
                            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "login-form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.LabelFor(m => m.LoginEmail)
                                @Html.TextBoxFor(m => m.LoginEmail)
                                @Html.ValidationMessageFor(m => m.LoginEmail)
                                @Html.LabelFor(m => m.LoginPassword)
                                @Html.PasswordFor(m => m.LoginPassword)
                                @Html.ValidationMessageFor(m => m.LoginPassword)

                                <div class="checkbox-wrap">
                                    @Html.CheckBoxFor(m => m.LoginPersistLogin)@Html.LabelFor(m => m.LoginPersistLogin, "Keep me signed in", new { @class = "smaller" })
                                </div>
                                <p class="mt15">
                                    <input type="submit" value="Sign In" class="button" />
                                </p>
                                <a id="forgot" class="forgot" href="#">Forgot your username or password?</a>
                            }
                        </div>
                        <div class="signin-center-col">
                            <div></div>
                            <img src="@Url.Content("~/Assets/Images/signin-or.png")" alt="Or">
                        </div>
                        <div class="large-5 medium-5 small-11 columns">
                            <a id="fb-login" class="social-login-btn fb">
                                <i class="fa fa-facebook"></i><span>Sign In with Facebook</span>
                            </a>
                            @*<a id="gplus-login" class="social-login-btn gplus">
                                <i class="fa fa-google-plus"></i><span>Sign In with Google</span>
                            </a>*@
                            <a id="email-signup" class="social-login-btn email">
                                <i class="fa fa-envelope"></i><span>Sign Up with Email</span>
                            </a>
                        </div>
                    </div>
                </section>
            </li>
            <li class="slide">
                <section class="form-section">
                    <div class="row">
                        <h2 class="columns">Sign Up for Your Free Account!</h2>
                        <span class="validation-summary"></span>
                    </div>
                    <div class="row">
                        <div class="large-5 medium-5 small-11 columns">
                            @using (Html.BeginForm("Signup", "Account", FormMethod.Post, new { id = "signup-form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.LabelFor(m => m.SignupEmail)
                                @Html.TextBoxFor(m => m.SignupEmail)
                                @Html.ValidationMessageFor(m => m.SignupEmail)
                                @Html.LabelFor(m => m.SignupPassword)
                                @Html.PasswordFor(m => m.SignupPassword)
                                @Html.ValidationMessageFor(m => m.SignupPassword)
                                @Html.LabelFor(m => m.SignupFirstName)
                                @Html.PasswordFor(m => m.SignupFirstName)
                                @Html.ValidationMessageFor(m => m.SignupFirstName)
                                @Html.LabelFor(m => m.SignupLastName)
                                @Html.PasswordFor(m => m.SignupLastName)
                                @Html.ValidationMessageFor(m => m.SignupLastName)
                                
                                <div class="submit-wrap">
                                    <input type="submit" value="Sign Up" class="button" />    
                                </div>
                                <div class="terms-wrap">
                                    By clicking Sign Up you indicate that you have read and agreed to the <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.
                                </div>
                            }
                        </div>
                        <div class="signin-center-col">
                            <div></div>
                            <img src="@Url.Content("~/Assets/Images/signin-or.png")" alt="Or">
                        </div>
                        <div class="large-5 medium-5 small-11 columns">
                            <a id="fb-login" class="social-login-btn fb">
                                <i class="fa fa-facebook"></i><span>Sign In with Facebook</span>
                            </a>
                            @*<a id="gplus-login" class="social-login-btn gplus">
                                <i class="fa fa-google-plus"></i><span>Sign In with Google</span>
                            </a>*@
                            <div class="mt30">
                                Already have an account? <a id="go-to-login" href="#">Sign In</a>
                            </div>
                        </div>
                    </div>
                </section>
            </li>
        </ul>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/scripts/form")
    <script>

        (function($) {
            $(function() {
                bespoke.login.init({
                    fbAppId: '@ViewBag.FacebookAppId'
                });
            });
        })(jQuery);
        
    </script>
}
