@model LoginRegisterModel

<div class="row">
    <div class="iosslider">
        <ul class="slider">
            <li class="slide">
                <section class="form-section">
                    <div class="row">
                        <div class="columns small-11">
                            <h2>Forgot your username or password?</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns large-4 medium-6 small-10">
                            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { id = "forgot-form" }))
                            {
                                <span class="validation-summary"></span>
                                @Html.AntiForgeryToken()
                                @Html.TextBoxFor(m => m.ResetPasswordEmail, new { data_placeholder = "Enter Your Email Address" })
                                @Html.ValidationMessageFor(m => m.ResetPasswordEmail)
                                <div class="submit-wrap">
                                    <input type="submit" value="Continue" class="button" />
                                </div>
                            }
                        </div>
                    </div>
                </section>
            </li>
            <li class="slide">
                <section class="form-section">
                    <div class="row">
                        <div class="columns small-11">
                            <h2>Sign In to @ViewBag.SiteName</h2>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-5 medium-5 small-11 columns">
                            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "login-form" }))
                            {
                                <span class="validation-summary"></span>
                                @Html.AntiForgeryToken()
                                @Html.TextBoxFor(m => m.LoginEmail, new { data_placeholder="Email" })
                                @Html.ValidationMessageFor(m => m.LoginEmail)
                                @Html.PasswordFor(m => m.LoginPassword, new { data_placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.LoginPassword)

                                <div class="checkbox-wrap">
                                    @Html.CheckBoxFor(m => m.LoginPersistLogin)@Html.LabelFor(m => m.LoginPersistLogin, "Keep me signed in", new { @class = "smaller" })
                                </div>
                                <p class="mt15">
                                    <input type="submit" value="Sign In" class="button" />
                                </p>
                                <a id="forgot" class="forgot" href="#">Forgot your password?</a>
                            }
                        </div>
                        <div class="signin-center-col">
                            <div></div>
                            <img src="@Url.Content("~/Assets/Images/signin-or.png")" alt="Or">
                        </div>
                        <div class="large-5 medium-5 small-11 columns">
                            <a id="fb-login" class="social-login-btn fb">
                                <i class="fa fa-facebook"></i><span>Sign In with Facebook</span>
                            </a>
                            <a id="gplus-login" class="social-login-btn gplus">
                                <i class="fa fa-google-plus"></i><span>Sign In with Google</span>
                            </a>
                            <a id="email-signup" class="social-login-btn email">
                                <i class="fa fa-envelope"></i><span>Sign Up with Email</span>
                            </a>
                        </div>
                    </div>
                </section>
            </li>
            <li class="slide">
                <section class="form-section">
                    <div class="row">
                        <div class="columns small-11">
                            <h2>Sign Up for Your Free Account!</h2>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-5 medium-5 small-11 columns">
                            @using (Html.BeginForm("Signup", "Account", FormMethod.Post, new { id = "signup-form" }))
                            {
                                <span class="validation-summary"></span>
                                @Html.AntiForgeryToken()
                                @Html.TextBoxFor(m => m.SignupFirstName, new { data_placeholder = "First Name" })
                                @Html.ValidationMessageFor(m => m.SignupFirstName)
                                @Html.TextBoxFor(m => m.SignupLastName, new { data_placeholder = "Last Name" })
                                @Html.ValidationMessageFor(m => m.SignupLastName)
                                @Html.TextBoxFor(m => m.SignupEmail, new { data_placeholder = "Your Email Address" })
                                @Html.ValidationMessageFor(m => m.SignupEmail)
                                @Html.PasswordFor(m => m.SignupPassword, new { data_placeholder = "Choose a Password" })
                                @Html.ValidationMessageFor(m => m.SignupPassword)
                                
                                <div class="terms-wrap">
                                    By signing up, I agree to @string.Format("{0}'s", ViewBag.SiteName) <a href="#">Terms of Use.</a>
                                </div>
                                <div class="mb30">
                                    <input type="submit" value="Sign Up" class="button" />    
                                </div>
                            }
                        </div>
                        <div class="signin-center-col">
                            <div></div>
                            <img src="@Url.Content("~/Assets/Images/signin-or.png")" alt="Or">
                        </div>
                        <div class="large-5 medium-5 small-11 columns">
                            <a id="fb-login" class="social-login-btn fb">
                                <i class="fa fa-facebook"></i><span>Sign In with Facebook</span>
                            </a>
                            <a id="gplus-login" class="social-login-btn gplus">
                                <i class="fa fa-google-plus"></i><span>Sign In with Google</span>
                            </a>
                            <div class="mt30">
                                Already have an account? <a id="go-to-login" href="#">Sign In</a>
                            </div>
                        </div>
                    </div>
                </section>
            </li>
        </ul>
    </div>
</div>
<div class="login-bg"></div>
<a class="close-reveal-modal">&#215;</a>