@model MootConfigModel
@{
    ViewBag.Title = Html.PageTitle("Discussions");
    Layout = "~/Views/Layouts/_Default.cshtml";
}

@section head {
    <link rel="stylesheet" href="//cdn.moot.it/1/moot.css">
}

<section class="banner discussions-banner">
    <div class="row">
        <header class="columns">
            <h1>ask your question</h1>
            <p class="subtitle">Need mommy advice?</p>
            <p class="intro">Our community is here to help.</p>
        </header>
        <div class="banner-bg"></div>
    </div>
</section>

<section>
    <a id="moot"
       href="https://moot.it/i/bespokemommy"
       data-login_url="@Url.RouteUrl("Signin")">bespokemommy forums</a>
</section>

@section scripts {
    <script src="//cdn.moot.it/1/moot.min.js"></script>
    
    <script>
        
        (function($) {
            $(function() {
                $("#moot").moot({
                    api: {
                        key: '@Model.ApiKey',
                        signature: '@Model.Signature',
                        message: '@Model.Message',
                        timestamp: @Model.Timestamp
                    }
                });
            });
        })(jQuery);
    </script>
}
